/* The following CSS is implemented for the slide-show on the Home Page
 * The CSS has been referenced from a design sample in W3-Schools
 * as per: https://www.w3schools.com/howto/howto_js_slideshow.asp
 */
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.slides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  margin-right: 25px;
  margin-left: 25px;
  max-width: 85%;
  max-height: fit-content;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: rgb(127, 36, 255);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: 0.5}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 1000px) {
  .text {font-size: 11px}
  .dot{
    height: 5px;
    width: 5px;
    margin: 1 1px;
  }

  .slideshow-container {
    max-width: 100%;
    height: auto;
    position: relative;
    margin: auto;
  }

}