* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

body {background-color: #3c3c3c;}

/* Image(s) Scaling */
.scoop-logo {
    width: 140px;
    height: 140px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-logo {
    /* Displayed in mobile only */
    width: 20px;
    cursor: pointer;
    /* menu selector is a mobile option */
    display: none;
}

.links {
    text-align: center;
    background: linear-gradient(to left, #7f7196, #cecece);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.links img {
    /* Social Media Images */
    margin: 15px;
    cursor: pointer;
    height: 40px;
}

/* Navigation Menus */
.nav_container{
    padding-left: 8%;
    padding-right: 8%;
    width: 100%;
    /* min-height: 100vh; */
    box-sizing: border-box;
    overflow: hidden;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
}

.page-content {
    flex: auto;
    float: top;
}

/* Navigation Menu Options */
nav {
    flex: auto;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 100px;
}

nav ul li a {
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color:rgb(183, 183, 183);
    font-size: x-large;
    font-style: oblique;
    font-weight: bold;
}

nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
    color: rgb(255, 255, 255);
}

nav ul li a:active {
    color: blueviolet;
}

/* Home Page Contents */
.title-1 {
    display: flex;
    text-decoration: none;
    flex-basis: 40%;
    display: inline;
    font-size: xx-large;
    text-align: center;
    color: whitesmoke;
}

/* Transparent Box Background */
.transbox {
    margin-left: 7.5%;
    margin-top: 25px;
    max-width: 85%;
    background-color: whitesmoke;
    border: 1px solid rgb(167, 35, 255);
    border-style: double;
    opacity: 0.95;
  }

.transbox p {
    margin: 2.5%;
    /* font-weight: bold; */
}

.news-board {
    display: table-cell;
    background-image: linear-gradient(60deg, #8111e3, #FFB03A);
    padding: 3%;
    margin-left: 5%;
    margin-right: 2%;
    border: 1px solid rgb(167, 35, 255);
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    text-align: center;
    /* Font Settings */
    font-weight: bold;
    font-size: xx-large;
    color: white;
}

.news-row {
    display: table;
    width: 100%;
    table-layout: fixed;
    background-color: #f0e9f7;
    border: 1px solid rgb(0, 0, 0);
    padding: 2.5%;
    margin-top: 2.0%;
    /* Font Settings */
    font-weight: normal;
    font-size: medium;
    color: black;
    float:right;
}

.news-row-alt {
    display: table;
    width: 100%;
    table-layout: fixed;
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    padding: 2.5%;
    /* Font Settings */
    font-weight: normal;
    font-size: medium;
    color: black;
    float:right;
    opacity: 0.9;
}

.news-row-alt h2 {
    color: rgb(0, 0, 0);
}

.news-info {
    margin-left: 10%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

.news-info h3 {
    text-decoration: underline;
    color: black;
}

.news-row:hover, .news-row:focus, .news-row:active {
    background: linear-gradient(to left,  #ffffff, #e8d1ff);
}

.news-board-image {
    text-align: left;
    background-repeat: no-repeat;
    background-size: contain;
    float:left;
    border: 2px solid rgb(0, 0, 0);
}

.news-image {
    width:280px;
    height:auto;
}


/* Nav bar, icon transition animation */
.wide-only {
    transition: 0.1s;
}


/* Implement responsiveness for device with max width 1200px
 * 1200px here is relatively large, but it is used to account for
 * mobile devices in landscape mode.
 */
@media only screen and (max-width:1200px) {
    nav ul {
        width: 100%;
        background: linear-gradient(to left,  #d4aef2, #552586);
        position: absolute;
        top: 88px;
        right: 0;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        font-size: medium;
        color: #222222;
    }

    nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
        color: rgb(255, 255, 255);
        font-style: oblique;
        font-weight: bold;
        left: 0%;
    }

    /* Home Page Contents */
    .title-1 {
        display: flex;
        font-size: large;
        text-align: center;
        color: whitesmoke;
        text-decoration: none;
        flex-basis: 40%;
        display: inline;
        padding: 5px;
    }

    /* Transparent Box Background */
    .transbox {
        max-width: 100%;
        margin: 30px;
        background-color: whitesmoke;
        border: 1px solid black;
        opacity: 0.8;
    }

    .transbox p {
        margin: 5%;
        /* font-weight: bold; */
        color: #000000;
    }

    .menu-logo {
        display: block;
    }

    #navMenu-list {
        overflow: hidden;
        transition: 0.25s;
    }

    .scoop-logo {
        width: 50px;
        height: 50px;
        cursor: pointer;
        margin: 30px 0;
        display: block;
    }

        /* Transparent Box Background */
    .transbox {
        margin: auto;
        width: 80%;
        background-color: whitesmoke;
        border: 1px solid blueviolet;
        border-style: double;
    }

    .transbox p {
        margin-left: 5%;
        margin-right: 5%;
        /* font-weight: bold; */
        color: #000000;
    }

    .news-info {
        margin-left: 15%;
        padding-left: 15%;
        text-align: left;
    }
}

/* Implement responsiveness for device with max width 1200px
 * 1200px here is relatively large, but it is used to account for
 * mobile devices in landscape mode.
 */
 @media only screen and (max-width:600px) {
    .wide-only {
        /* display: none; */
    }

    .links {
        text-align: center;
        background: linear-gradient(to left, #7f7196, #cecece);
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 8%;
    }

    .links img {
        /* Social Media Images */
        margin: 15px;
        cursor: pointer;
        height: 50%;
    }

    .news-image {
        width:100%;
        height:auto;
        text-align: center;
    }

    .news-row {
        padding: 5.0%;
        margin-top: 5.0%;
        text-align: center;
        float:right;
    }

    .news-info {
        margin-left: 5%;
        padding-left: 5%;
        text-align: left;
    }
 }

 @media only screen and (max-height:400px) {
    .news-board-image {
            border: 0px solid rgb(0, 0, 0);
    }


    .news-image {
        width:50%;
        height:auto;
        text-align: left;
    }

    .news-row {
        padding: 5.0%;
        margin-top: 5.0%;
        text-align: right;
        float:right;
    }

    .news-info {
        margin-left: 5%;
        padding-left: 5%;
        text-align: left;
    }
 }